SESSION_NAME=BACrgL99mgw011ryo6c-0Y4Jy7v6EdSbnG-Vkpgo9J8DSCjp3tW-QTmYRsGdHMFQk0k4-7DEF0YHyaqp_uuQKWodXn9lBACbmdd4yIYqWexKnN_lYK14HXy2a7Z8KBOG7J56SC-VsgD0znC42QIn9n01L94B4ukUOF7kCbl5aEvt74Sh7EKd8bqqRxRIIcB9Y1UDeJ9jAFIJLwXWW3LiJK3LiWRZa9Dk6A9NRvxOWn19UP9g6nuo34jlxRZYcqLIdibEulU1IfQy59RQe-1YLZVMFtztSRu0Juq8-w6WoXcSUZsBfKgfAEHSBmNkz8HzcYSr49JBxwnCTjF__IEhDc31AAAAATCklcMA
BOT_USERNAME=blackmuzikbot 
BOT_TOKEN=5343798470:AAE0piDzTa4A7XFBIx7VW6Agrtj_4ChCw14
BOT_NAME=Black müzik 
API_ID=10318886
API_HASH=8b5e314a1655f64e19bf46083976114f
SUDO_USERS=5306202921
DURATION_LIMIT=60

# Degerleri yazın dosya adını example.env yerine 👉.env yapınız. 
